@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Human Resource Information System gives you a platform to know all the information you need to help you in your workplace.</p>
